// https://blog.csdn.net/Bottle_jiu/article/details/106585960

@import "./palette.styl"

// 获取背景颜色
bg-color($color)
  background-color: light[$color]

  [theme = "dark"]
    background-color: dark[$color]

  // It doesn't work when import in .styl
  for theme in $theme 
    [theme = {theme.name}] & {
      background-color: theme[$color]  
    }

// 获取字体颜色
font-color($color)
  color: light[$color]

  [theme = "dark"]
    color: dark[$color]

  for theme in $theme 
    [theme = {theme.name}] & {
      color: theme[$color]  
    }

// 获取边框颜色
border-color($color)
  border-color: light[$color]

  [theme = "dark"]
    border-color: dark[$color]

  for theme in $theme 
    [theme = {theme.name}] & {
      border-color: theme[$color]  
    } 