light = {
    name: 'light',
    $htmlColor: #2c3e50,
    $bg: #fff,
    $border: #cfd4db,
    $navbarBg: #fff,
    $navbarColor: #2c3e50,
    $searchBoxBg: #f5f6f7,
    $dropdownBg: #fff,
    $contentBg: #fbfcfc,
    $headerNameColor: #ffaa00,
    $navItemColor: #8d7edc,
    $navHoverColor: #d4cef2,
    $shadowColor: #ededee,
    $tipBg: #f3f5f7,
    $tipBorder: #42b983,
    $codeBg: #282c34
}

dark = {
    name: 'dark',
    $htmlColor: #d7d1c7,
    $bg: #242525,
    $border: #424242,
    $navbarBg: #242525,
    $navbarColor: #d7d1c7,
    $searchBoxBg: #282a2a,
    $dropdownBg: #242525,
    $contentBg: #282a2a,
    $headerNameColor: #ffaa00,
    $navItemColor: #8d7edc,
    $navHoverColor: #d4cef2,
    $shadowColor: #3a3939,
    $tipBg: #313333,
    $tipBorder: #42b983,
    $codeBg: #272827
}

$theme = (light dark)