light = {
    name: 'light',
    $bg: #eee,
    $headerBg: #fafafa,
    $contentBg: #fff,
    $shadowColor: rgba(160, 160, 160, 0.05),
    $headerNameColor: #ffaa00,
    $headerJobColor: #003845,
    $navHoverColor: #d4cef2,
    $archiveColor: #000,
    $archiveTitleColor: #46a891,
    $archiveTitleHover: #87cdbd,
    $navColor: #8d7edc,
    $catalog_font: #003845,
    $catalog_font_hover: #ebedef,
    $post_title: #003845,
    $post_date: #003845,
    $post_text: #4c4c4c,
    $post_h3: #4c4c4c,
    $post_link: #46a891,
    $post_link_hover: #87cdbd,
    $inlinecode_text: #ffaa00,
    $blockquote: #333,
    $footer_font: #858585,
    $footer_font_a: #000000,
    $borderRadius: 15px
}

dark = {
    name: 'dark',
    $bg: #1c1c1e,
    $headerBg: #24292e,
    $contentBg: #2f3437,
    $archiveColor: #caccce,
    $archive_title: #46a891,
    $archive_title_hover: #87cdbd,
    $name_font: #ffaa00,
    $job_font: #caccce,
    $nav_font: #8d7edc,
    $nav_font_hover: #d4cef2,
    $catalog_font: #caccce,
    $catalog_font_hover: rgba(0, 0, 0, 0.2),
    $shadow_color: rgba(0, 0, 0, 1),
    $post_title: #46a891,
    $post_date: #e9ead7,
    $post_text: #caccce,
    $post_h3: #ffffff,
    $post_link: #8d7edc,
    $post_link_hover: #d4cef2,
    $inlinecode_text: #ffaa00,
    $blockquote: #caccce,
    $footer_font_a: #d1d1d1,
    $border_radius: 1px
}

$theme = (light dark)