$bg = #eee
$headerBg = #fafafa
$contentBg = #fff

$shadowColor = rgba(160, 160, 160, 0.05)
$headerNameColor = #ffaa00
$headerJobColor = #003845
$navHoverColor = #d4cef2
$archiveColor = #000

$archive_title = #46a891
$archive_title_hover = #87cdbd
$navColor = #8d7edc

$catalog_font = #003845
$catalog_font_hover = #ebedef
$post_title = #003845
$post_date = #003845
$post_text = #4c4c4c
$post_h3 = #4c4c4c
$post_link = #46a891
$post_link_hover = #87cdbd
$inlinecode_text = #ffaa00
$blockquote = #333
$footer_font = #858585
$footer_font_a = #000

$borderRadius = 15px